# ==============================
# ENVIRONMENT VARIABLES
# ==============================

.env
Backend/.env
Frontend/.env


# ==============================
# PYTHON
# ==============================

__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3


# ==============================
# PYTHON VIRTUAL ENV
# ==============================

venv/
env/
.venv/


# ==============================
# NODE / REACT
# ==============================

node_modules/
dist/
build/


# ==============================
# LOG FILES
# ==============================

*.log


# ==============================
# OS FILES
# ==============================

.DS_Store
Thumbs.db


# ==============================
# IDE / EDITOR
# ==============================

.vscode/
.idea/


# ==============================
# CACHE
# ==============================

.cache/